<box
  class="relative lg:col-span-4 lg:col-start-3 col-span-8 col-start-1 rounded-xl px-5 py-16 w-1/3 mx-auto duration-300"
>
  <div class="basis-8/12 mb-2 text-center">
    <h2 class="text-2xl font-bold md:text-3xl">Stay Ahead with me!</h2>
    <p class="mt-3 text-neutral-400">
      Subscribe to my newsletter and get the latest updates.
    </p>
  </div>

  <ul
    class="basis-4/12 mb-8 list-none text-xs text-center list-inside leading-6 text-neutral-400"
  >
    <li>
      <ng-icon class="align-middle pr-4" [svg]="heroCheckCircle"></ng-icon>Major news and
      trends in the world of Angular
    </li>
    <li>
      <ng-icon class="align-middle pr-4" name="heroCheckCircle"></ng-icon>Exclusive
      off-market opportunities in the Angular ecosystem
    </li>
  </ul>
  <form-subcription />
</box>
