<name class="grid-in-name" />
<experience class="grid-in-exp" />
<linkedin class="grid-in-linkedin" />
<calendar class="grid-in-calendar" />
<!-- <project class="grid-in-project" /> -->
<cv class="grid-in-cv" />
<map class="grid-in-map"></map>
<git class="grid-in-git" />
<technology class="grid-in-technology" />

<!-- <box class="grid-in-blog flex flex-1" routerLink="contact">
  <div
    class="w-[36px] h-[36px] flex items-center justify-center rounded-xl bg-black"
  >
    <i class="text-2xl text-white las la-newspaper"></i></div
></box> -->

<!-- <box class="grid-in-contact flex flex-1" routerLink="contact"> Contact me </box> -->


<footer class="grid-in-footer"></footer>
