<box class="gap-4 items-center justify-center">
  <img alt="angular logo" srcset="assets/logo/angular.svg" width="150" height="150" />
</box>
<box class="gap-4">
  <div class="h-full flex flex-wrap gap-2 items-center justify-center">
    <img src="assets/logo/typescript.svg" width="24" height="24" />
    <img src="assets/logo/signals.svg" width="24" height="24" />
    <img src="assets/logo/rxjs.svg" width="24" height="24" />
    <img src="assets/logo/ngrx.svg" width="24" height="24" />
    <img src="assets/logo/nx.svg" width="24" height="24" />
    <img src="assets/logo/css.svg" width="24" height="24" />
    <img src="assets/logo/sass.svg" width="24" height="24" />
    <img src="assets/logo/material.svg" width="24" height="24" />
    <img src="assets/logo/tailwind.svg" width="24" height="24" />
    <img src="assets/logo/d3.svg" width="24" height="24" />
    <img src="assets/logo/node.svg" width="24" height="24" />
    <img src="assets/logo/nestjs.svg" width="24" height="24" />
    <img src="assets/logo/java.svg" width="24" height="24" />
    <img src="assets/logo/spring.svg" width="24" height="24" />
    <img src="assets/logo/sql.svg" width="24" height="24" />
    <img src="assets/logo/mongodb.svg" width="24" height="24" />
    <img src="assets/logo/graphql.svg" width="24" height="24" />
    <img src="assets/logo/aws-lambda.svg" width="24" height="24" />
  </div>
</box>
