<div class="bg-teal-50 rounded-lg p-4 mb-4" role="alert">
  <div class="flex">
    <div class="flex-shrink-0">
      <span
        class="inline-flex justify-center items-center size-8 rounded-full border-4 border-teal-100 bg-teal-200 text-teal-800"
        ><ng-icon class="pr-4" [svg]="heroCheck"></ng-icon>
      </span>
    </div>
    <div class="ms-3">
      <h3 class="text-gray-800 font-semibold">Thank you for subscribing!</h3>
      <p class="text-sm text-gray-700">
        You'll now receive our latest updates, special offers, and exclusive
        content directly to your inbox.
      </p>
    </div>
  </div>
</div>
